body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.container {
  min-width: 280px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(min-mobile) {
    max-width: 440px;
    padding: 0 40px;
  }

  @include for-size(min-tablet) {
    max-width: 688px;
    padding: 0 40px;
  }

  @include for-size(desktop) {
    max-width: calc(100vw - 22%);
    padding: 0;
  }
}

// To be continue...
