.btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 107, 9, 1);

  width: 260px;
  height: 48px;
  border: none;
  padding: 0px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    width: 354px;
    height: 70px;
  }
}
