.btn {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: $full-white;
  background-color: $main-orange;

  width: 260px;
  height: 48px;
  border: none;
  padding: 0px;

  @include for-size(desktop) {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    width: 354px;
    height: 70px;
  }
}
