<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__items">
      <li class="advantages__item">
        <div class="advantages__thumb">
          <svg class="advantages__icon" width="33.19" height="40">
            <use
              class="advantages__icon--female_student"
              href="images/sprite.svg#icon-student_famel"
            ></use>
          </svg>
        </div>
        <p class="advantages__item-desc">Адаптированная авторская программа ВНО</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__thumb">
          <svg class="advantages__icon" width="41.87" height="41">
            <use
              class="advantages__icon--mobile_learning"
              href="images/sprite.svg#icon-mobile_learning"
            ></use>
          </svg>
        </div>
        <p class="advantages__item-desc">Современные методики обучения</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__thumb">
          <svg class="advantages__icon" width="35" height="40">
            <use class="advantages__icon--insurance" href="images/sprite.svg#icon-insurance"></use>
          </svg>
        </div>
        <p class="advantages__item-desc">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
