<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__items">
      <li class="advantages__item advantages__item--female_student">
        <p class="advantages__item-desc advantages__item-desc">
          Адаптированная авторская программа ВНО
        </p>
      </li>
      <li class="advantages__item advantages__item--mobile_learning">
        <p class="advantages__item-desc advantages__item-desc">Современные методики обучения</p>
      </li>
      <li class="advantages__item advantages__item--insurance">
        <p class="advantages__item-desc advantages__item-desc">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
