<section class="benefits">
  <div class="container benefit--container">
    <h2 class="benefits__header">Почему нас выбирают</h2>
    <div class="list-with-counter__container">
      <ol class="list-with-counter">
        <li class="list-with-counter__item">Обучение в малых командах</li>
        <li class="list-with-counter__item">Визуализированные конспекты</li>
        <li class="list-with-counter__item">Каждое занятие имеет цель и конкретный результат</li>
        <li class="list-with-counter__item">Ревльные результаты преподавателя</li>
        <li class="list-with-counter__item">
          Прогамма курса соответствует требованиям МОН Украины
        </li>
        <li class="list-with-counter__item">Набор команд по уровням знаний</li>
      </ol>
    </div>
  </div>
</section>
