<section class="contacts" id="contacts">
    <div class="container container__contacts">
        <h2 class="contacts__header">
            Регистрация на <span class="contacts__header--orange">бесплатную</span> телефонную
            <span class="contacts__header--orange">консультацию</span> по нюансам ЗНО по английскому
            языку
        </h2>
        <form class="input-form">
            <h4 class="input-form__title">
                Оставь заявку на участие в <span class="contacts__header--orange">бесплатном занятии.</span>С вами
                свяжется консультант и
                ответит на вопросы
            </h4>

            <div class="input-form__fields">
                <input class="input-form__input" type="text" name="username" required placeholder="Имя*"
                    pattern="^[А-Яа-яЁё\s]+$" />
                <input class="input-form__input" type="tel" name="tel" required placeholder="Телефон*"
                    pattern="\+38[\(]0[0-9]{2}[/)]-[0-9]{3}-[0-9]{2}-[0-9]{2}" />
            </div>

            <button class="input-form__button--submit" type="submit">ХОЧУ НА БЕСПЛАТНОЕ ЗАНЯТИЕ</button>
        </form>
    </div>
</section>