<section class="gurantee">
    <h2 class="gurantee__heading">Мы гарантируем</h2>
   <div class="gurantee__container">
        <ul class="gurantee__set">
            <li class="gurantee__item">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы
                вернем
                деньги.<span class="gurantee__accent">*</span></li>
            <li class="gurantee__item">Ты научишься писать сочинения минимум на 10 баллов из 14. <span
                    class="gurantee__accent">В то время как 20% учеников получили за
                    сочинение 0.</span></li>
            <li class="gurantee__item">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после
                формирования команд.</li>
            <li class="gurantee__item">Команды будут сформированы, исходя из начального уровня учеников. Мы учитываем
                особенности каждого ученика.</li>
        </ul>
   </div>
</section>