
<section class="hero">
<div class="container container--absolute">
    <div class="background"></div>

    <div class="hero__container--small">
    <h1 class="hero__name">Комплексная подготовка к ВНО
        по английскому языку</h1>
    <p class="hero__description">
        <span class="hero__description--gray">Просто не будет.</span> <br>
        <span class="hero__description--bolt">Но ты гарантировано наберешь</span> <br class="hero__br">
        <span class="hero__description--orange">+25 баллов</span>

    </p>
        <div class="hero__container"><a class="btn btn__hero" href="#contacts">хочу на бесплатное занятие</a></div>
        

</div></div>
    <div class="hero-img__container"><img loading="lazy" class="hero__img" srcset="./images/hero.png 1x, ./images/herox2.png 2x" src="./images/hero.png" alt="hero"></div>
           


</section>