<section class="hero">
    
        <h1 class="hero__name">Комплексная подготовка к ВНО
        по английскому языку</h1>
        <p class="hero__description"> 
        <span class="hero__description--gray">Просто не будет.</span> <br>
        <span class="hero__description--bolt">Но ты гарантировано наберешь</span>  <br>
        <span class="hero__description--orange">+25 баллов</span> 
    </p>
    <div class="hero__container">
        <button class="hero__btn" type="button">хочу на бесплатное занятие</button>
        <img class="hero__img" srcset="./images/hero.jpg 1x, ./images/herox2.jpg 2x" src="./images/hero.jpg" alt="">
    </div>
</section>