<section class="hero">

    <h1 class="hero__name">Комплексная подготовка к ВНО
        по английскому языку</h1>
    <p class="hero__description">
        <span class="hero__description--gray">Просто не будет.</span> <br>
        <span class="hero__description--bolt">Но ты гарантировано наберешь</span> <br>
        <span class="hero__description--orange">+25 баллов</span>
    </p>
    <div class="hero__container">
        <a class="hero__btn" href="#reviews">хочу на бесплатное занятие</a>
    </div>
        <img class="hero__img" srcset="./images/hero.png 1x, ./images/herox2.png 2x" src="./images/hero.png" alt="">
</section>