<div class="menu-container js-menu-container" id="mobile-menu">
    
    <a class="logo">Hell
    
        <svg class="logo__icon" width="22px" height="30px">
            <use href="#"></use>
        </svg>
        EN
        <p class="logo__text">
            <span class="logo__part-text">Адский </span>
            английский
        </p>
    </a>
    
    <button class="menu-close js-close-menu">
        <svg class="menu-close__icon" width="18px" height="18px">
            <use href="#"></use>
        </svg>

    </button>
</div>    