<section class="problems">
  <div class="container">
    <h2 class="problems__header">
      Главные проблемы
      <span class="problems__hyphenation problems__hyphenation--tablet-up"> </span>
      учеников
      <span class="problems__hyphenation"></span>
      на English ВНО,
      <span class="problems__hyphenation problems__hyphenation--tablet-up"></span> которые<span
        class="problems__hyphenation"
      ></span>
      мы <span class="problems__accent">помогаем</span> решить
    </h2>

    <div class="list-with-counter__container">
      <ol class="list-with-counter">
        <li class="list-with-counter__item">Название грамматики</li>
        <li class="list-with-counter__item">Неумение вомпринимать устную английскую речь</li>
        <li class="list-with-counter__item">Скупой словарный запас для написани сочинения</li>
        <li class="list-with-counter__item">Поодготовка в одиночку</li>
        <li class="list-with-counter__item">Отсутствие единого ресурса знаний</li>
        <li class="list-with-counter__item">Недостатой самоорганизации и лень</li>
      </ol>
    </div>
  </div>
</section>
