
<section class="program">
  <div class="container">
    <div class="program__container">
      <h2 class="program__header">Наша программа</h2>
      <ol class="semester-list">
        <!-- 1 СЕМЕСТР -->
        <li class="semester-list__item">
          <h3 class="semester-list__header">СЕМЕСТР</h3>
          <ul class="theme-list">
            <li class="theme-list__item">
              <h4 class="theme-list__header">Grammar</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Nouns & Articles</li>
                <li class="lessons__item">Adjectives & Adverb</li>
              </ul>
            </li>
            <li class="theme-list__item">
              <h4 class="theme-list__header">Vocabulary</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Family & Relations</li>
                <li class="lessons__item">People & Society</li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- 2 СЕМЕСТР -->
        <li class="semester-list__item">
          <h3 class="semester-list__header">СЕМЕСТР</h3>
          <ul class="theme-list">
            <li class="theme-list__item">
              <h4 class="theme-list__header">Grammar</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Pronouns</li>
                <li class="lessons__item">Active Voice</li>
                <li class="lessons__item">Passive Voice</li>
              </ul>
            </li>
            <li class="theme-list__item">
              <h4 class="theme-list__header">Vocabulary</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Home</li>
                <li class="lessons__item">School</li>
                <li class="lessons__item">Work</li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- 3 СЕМЕСТР -->
        <li class="semester-list__item">
          <h3 class="semester-list__header">СЕМЕСТР</h3>
          <ul class="theme-list">
            <li class="theme-list__item">
              <h4 class="theme-list__header">Grammar</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Modal verbs</li>
                <li class="lessons__item">Infinitive</li>
                <li class="lessons__item">Gerund</li>
                <li class="lessons__item">Participle: 1, 2</li>
              </ul>
            </li>
            <li class="theme-list__item">
              <h4 class="theme-list__header">Vocabulary</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Travel & Tourism</li>
                <li class="lessons__item">Culture & Free Time</li>
                <li class="lessons__item">Sport</li>
              </ul>
            </li>
            <li class="theme-list__item">
              <h4 class="theme-list__header">Writing</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Informal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- 4 СЕМЕСТР -->
        <li class="semester-list__item">
          <h3 class="semester-list__header">СЕМЕСТР</h3>
          <ul class="theme-list">
            <li class="theme-list__item">
              <h4 class="theme-list__header">Grammar</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Clauses: Conditional and Wishes</li>
                <li class="lessons__item">Direct / Reported speech</li>
                <li class="lessons__item">Preposition</li>
                <li class="lessons__item">Conjunction</li>
                <li class="lessons__item">Numeral</li>
              </ul>
            </li>
            <li class="theme-list__item">
              <h4 class="theme-list__header">Vocabulary</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Healthy Living</li>
                <li class="lessons__item">Nature & Environment</li>
                <li class="lessons__item">Money</li>
              </ul>
            </li>
            <li class="theme-list__item">
              <h4 class="theme-list__header">Writing</h4>
              <ul class="lessons-list">
                <li class="lessons__item">Formal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- 5 СЕМЕСТР -->
        <li class="semester-list__item">
          <h3 class="semester-list__header">СЕМЕСТР</h3>
          <ul class="theme-list">
            <li class="theme-list__item">
              <h4 class="theme-list__header"></h4>
              <ul class="lessons-list">
                <li class="lessons__item">Revision</li>
                <li class="lessons__item">Tests</li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</section>
