<article class="reviews container">
  <h2 class="reviews__title">Отзывы выпускников</h2>
  <div class="reviews__container">
    <div class="reviews__comment visually-hidden">
      <div class="reviews__thumb reviews__thumb--pic_reviews_1"></div>
      <a href="#" class="reviews__social-link"
        ><svg class="reviews__social-icon" width="30" height="16.98">
          <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
        </svg>
      </a>
      <h3 class="reviews__user-name">Тоня Кучеровская</h3>
      <p class="reviews__user-details">
        Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
      </p>
      <div class="reviews__text-block">
        <p class="reviews__user-text">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
          Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
          авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
          можу похизуватись тим, що я студен...
        </p>
        <a href="#" class="reviews__link-more">Читать дальше</a>
      </div>
    </div>
    <div class="reviews__comment visually-hidden">
      <div class="reviews__thumb reviews__thumb--pic_reviews_2"></div>
      <a href="#" class="reviews__social-link"
        ><svg class="reviews__social-icon" width="30" height="16.98">
          <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
        </svg>
      </a>
      <h3 class="reviews__user-name">Тоня Кучеровская</h3>
      <p class="reviews__user-details">
        Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
      </p>
      <div class="reviews__text-block">
        <p class="reviews__user-text">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
          Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
          авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
          можу похизуватись тим, що я студен...
        </p>
        <a href="#" class="reviews__link-more">Читать дальше</a>
      </div>
    </div>
    <div class="reviews__comment visually-hidden">
      <div class="reviews__thumb reviews__thumb--pic_reviews_3"></div>
      <a href="#" class="reviews__social-link"
        ><svg class="reviews__social-icon" width="30" height="16.98">
          <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
        </svg>
      </a>
      <h3 class="reviews__user-name">Тоня Кучеровская</h3>
      <p class="reviews__user-details">
        Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
      </p>
      <div class="reviews__text-block">
        <p class="reviews__user-text">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
          Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
          авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
          можу похизуватись тим, що я студен...
        </p>
        <a href="#" class="reviews__link-more">Читать дальше</a>
      </div>
    </div>
    <div class="reviews__comment visually-hidden">
      <div class="reviews__thumb reviews__thumb--pic_reviews_4"></div>
      <a href="#" class="reviews__social-link"
        ><svg class="reviews__social-icon" width="30" height="16.98">
          <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
        </svg>
      </a>
      <h3 class="reviews__user-name">Тоня Кучеровская</h3>
      <p class="reviews__user-details">
        Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
      </p>
      <div class="reviews__text-block">
        <p class="reviews__user-text">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
          Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
          авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
          можу похизуватись тим, що я студен...
        </p>
        <a href="#" class="reviews__link-more">Читать дальше</a>
      </div>
    </div>
    <div class="reviews__comment visually-hidden">
      <div class="reviews__thumb reviews__thumb--pic_reviews_5"></div>
      <a href="#" class="reviews__social-link"
        ><svg class="reviews__social-icon" width="30" height="16.98">
          <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
        </svg>
      </a>
      <h3 class="reviews__user-name">Тоня Кучеровская</h3>
      <p class="reviews__user-details">
        Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
      </p>
      <div class="reviews__text-block">
        <p class="reviews__user-text">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
          Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
          авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
          можу похизуватись тим, що я студен...
        </p>
        <a href="#" class="reviews__link-more">Читать дальше</a>
      </div>
    </div>
    <div class="reviews__comment">
      <div class="reviews__thumb reviews__thumb--pic_reviews_6"></div>
      <a href="#" class="reviews__social-link"
        ><svg class="reviews__social-icon" width="30" height="16.98">
          <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
        </svg>
      </a>
      <h3 class="reviews__user-name">Тоня Кучеровская</h3>
      <p class="reviews__user-details">
        Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
      </p>
      <div class="reviews__text-block">
        <p class="reviews__user-text">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
          Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
          авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
          можу похизуватись тим, що я студен...
        </p>
        <a href="#" class="reviews__link-more">Читать дальше</a>
      </div>
    </div>
    <div class="reviews__comment visually-hidden">
      <div class="reviews__thumb reviews__thumb--pic_reviews_7"></div>
      <a href="#" class="reviews__social-link"
        ><svg class="reviews__social-icon" width="30" height="16.98">
          <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
        </svg>
      </a>
      <h3 class="reviews__user-name">Тоня Кучеровская</h3>
      <p class="reviews__user-details">
        Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
      </p>
      <div class="reviews__text-block">
        <p class="reviews__user-text">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
          Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
          авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
          можу похизуватись тим, що я студен...
        </p>
        <a href="#" class="reviews__link-more">Читать дальше</a>
      </div>
    </div>
  </div>
</article>
