<article class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    <div class="reviews__container">
      <div class="reviews__review--content">
        <div class="reviews__review--item">
          <div class="review__media--item">
            <img loading="lazy" src="./images/reviews/pic_reviews_1@2x.png" alt="review-1"
              class="reviews__content-img" />
            <a href="#" class="reviews__social-link"><svg class="reviews__social-icon" width="60" height="33.94">
                <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review__text--item">
            <h3 class="reviews__user-name">Тоня Кучеровская</h3>
            <p class="reviews__user-details">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
            </p>
            <div class="reviews__text-block">
              <p class="reviews__user-text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студен...
              </p>
              <p class="reviews__user-text--hidden">За короткий час занять з Оленою я опанувала граматику і поповнила
                свій
                зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студенка. И ще багато багато чого!
              </p>
              <a class="reviews__link-more">Читать дальше</a>
            </div>
          </div>

        </div>
        <div class="reviews__review--item">
          <div class="review__media--item">
            <img loading="lazy" src="./images/reviews/pic_reviews_2@2x.png" alt="review-2"
              class="reviews__content-img" />
            <a href="#" class="reviews__social-link"><svg class="reviews__social-icon" width="60" height="33.94">
                <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review__text--item">
            <h3 class="reviews__user-name">Александра Иванова</h3>
            <p class="reviews__user-details">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
            </p>
            <div class="reviews__text-block">
              <p class="reviews__user-text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студен...
              </p>
              <p class="reviews__user-text--hidden">За короткий час занять з Оленою я опанувала граматику і поповнила
                свій
                зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студенка. И ще багато багато чого!
              </p>
              <a class="reviews__link-more">Читать дальше</a>
            </div>
          </div>

        </div>
        <div class="reviews__review--item">
          <div class="review__media--item">
            <img loading="lazy" src="./images/reviews/pic_reviews_3@2x.png" alt="review-3"
              class="reviews__content-img" />
            <a href="#" class="reviews__social-link"><svg class="reviews__social-icon" width="60" height="33.94">
                <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review__text--item">
            <h3 class="reviews__user-name">Елена Денисова</h3>
            <p class="reviews__user-details">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
            </p>
            <div class="reviews__text-block">
              <p class="reviews__user-text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студен...
              </p>
              <p class="reviews__user-text--hidden">За короткий час занять з Оленою я опанувала граматику і поповнила
                свій
                зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студенка. И ще багато багато чого!
              </p>
              <a class="reviews__link-more">Читать дальше</a>
            </div>
          </div>

        </div>
        <div class="reviews__review--item">
          <div class="review__media--item">
            <img loading="lazy" src="./images/reviews/pic_reviews_4@2x.png" alt="review-4"
              class="reviews__content-img" />
            <a href="#" class="reviews__social-link"><svg class="reviews__social-icon" width="60" height="33.94">
                <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review__text--item">
            <h3 class="reviews__user-name">Тамара Иванова</h3>
            <p class="reviews__user-details">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
            </p>
            <div class="reviews__text-block">
              <p class="reviews__user-text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студен...
              </p>
              <p class="reviews__user-text--hidden">За короткий час занять з Оленою я опанувала граматику і поповнила
                свій
                зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студенка. И ще багато багато чого!
              </p>
              <a class="reviews__link-more">Читать дальше</a>
            </div>
          </div>

        </div>
        <div class="reviews__review--item">
          <div class="review__media--item">
            <img loading="lazy" src="./images/reviews/pic_reviews_5@2x.png" alt="review-5"
              class="reviews__content-img" />
            <a href="#" class="reviews__social-link"><svg class="reviews__social-icon" width="60" height="33.94">
                <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review__text--item">
            <h3 class="reviews__user-name">Виктория Сергиенко</h3>
            <p class="reviews__user-details">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
            </p>
            <div class="reviews__text-block">
              <p class="reviews__user-text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студен...
              </p>
              <p class="reviews__user-text--hidden">За короткий час занять з Оленою я опанувала граматику і поповнила
                свій
                зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студенка. И ще багато багато чого!
              </p>
              <a class="reviews__link-more">Читать дальше</a>
            </div>
          </div>

        </div>
        <div class="reviews__review--item">
          <div class="review__media--item">
            <img loading="lazy" src="./images/reviews/pic_reviews_6@2x.png" alt="review-6"
              class="reviews__content-img" />
            <a href="#" class="reviews__social-link"><svg class="reviews__social-icon" width="60" height="33.94">
                <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review__text--item">
            <h3 class="reviews__user-name">Мария Андриенко</h3>
            <p class="reviews__user-details">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
            </p>
            <div class="reviews__text-block">
              <p class="reviews__user-text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студен...
              </p>
              <p class="reviews__user-text--hidden">За короткий час занять з Оленою я опанувала граматику і поповнила
                свій
                зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студенка. И ще багато багато чого!
              </p>
              <a class="reviews__link-more">Читать дальше</a>
            </div>
          </div>

        </div>
        <div class="reviews__review--item">
          <div class="review__media--item">
            <img loading="lazy" src="./images/reviews/pic_reviews_7@2x.png" alt="review-7"
              class="reviews__content-img" />
            <a href="#" class="reviews__social-link"><svg class="reviews__social-icon" width="60" height="33.94">
                <use class="reviews__icon-vk" href="images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="review__text--item">
            <h3 class="reviews__user-name">Василиса Мрирошниченко</h3>
            <p class="reviews__user-details">
              Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
            </p>
            <div class="reviews__text-block">
              <p class="reviews__user-text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студен...
              </p>
              <p class="reviews__user-text--hidden">За короткий час занять з Оленою я опанувала граматику і поповнила
                свій
                зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
                Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
                авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
                можу похизуватись тим, що я студенка. И ще багато багато чого!
              </p>
              <a class="reviews__link-more">Читать дальше</a>
            </div>
          </div>

        </div>
      </div>

      <div class="reviews__review--nav">
        <div class="reviews__review--element">
          <img src="./images/reviews/pic_reviews_1@2x.png" alt="review-1" class="reviews__nav-img" />
        </div>
        <div class="reviews__review--element">
          <img src="./images/reviews/pic_reviews_2@2x.png" alt="review-2" class="reviews__nav-img" />
        </div>
        <div class="reviews__review--element">
          <img src="./images/reviews/pic_reviews_3@2x.png" alt="review-3" class="reviews__nav-img" />
        </div>
        <div class="reviews__review--element">
          <img src="./images/reviews/pic_reviews_4@2x.png" alt="review-4" class="reviews__nav-img" />
        </div>
        <div class="reviews__review--element">
          <img src="./images/reviews/pic_reviews_5@2x.png" alt="review-5" class="reviews__nav-img" />
        </div>
        <div class="reviews__review--element">
          <img src="./images/reviews/pic_reviews_6@2x.png" alt="review-6" class="reviews__nav-img" />
        </div>
        <div class="reviews__review--element">
          <img src="./images/reviews/pic_reviews_7@2x.png" alt="review-7" class="reviews__nav-img" />
        </div>
      </div>
    </div>
  </div>
</article>