.advantages {
  padding-top: 30px;
  padding-bottom: 49.5px;
  margin: 0 auto;

  @include for-size(min-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.advantages__items {
  list-style: none;
  margin: 0 auto;

  @include for-size(min-tablet) {
    display: flex;
    width: 100%;
    @include placeItemsGrid(21px);
  }

  @include for-size(desktop) {
    display: flex;
    width: 100%;
    @include placeItemsGrid(0);
  }
}

.advantages__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-size(min-tablet) {
    @include buildGrid(3, 21px);
  }

  @include for-size(desktop) {
    @include buildGrid(3, 0);
  }

  @include for-size(max-mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.advantages__thumb {
  margin-right: 22px;
  position: relative;
  z-index: 3;

  @include for-size(desktop) {
    margin-right: 13px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -22px;
    display: block;
    width: 22px;

    @include for-size(desktop) {
      right: -13px;
      width: 13px;
    }

    height: 100%;
    background-color: $full-white;
  }
}

.advantages__item-desc {
  position: relative;
  opacity: 1;
  z-index: 1;
  display: block;
  width: 146px;

  @include for-size(desktop) {
    width: 366px;
    z-index: 4;
  }

  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;

  @include for-size(desktop) {
    font-size: 20px;
    line-height: 164.9%;
  }

  color: $main-black;

  &::before {
    content: '';
    position: absolute;
    left: -70px;
    top: 50%;
    z-index: 1;
    display: block;
    height: 58.82px;
    width: 60px;

    @include for-size(desktop) {
      left: -80px;
      height: 102px;
      width: 100px;
    }

    border: 2px solid $main-orange;
    transform: translateY(-50%);
  }
}

.advantages__icon {
  fill: $main-orange;
}
