.advantages {
  padding-top: 30px;
  padding-bottom: 49.5px;
  margin: 0 auto;

  @include for-size(min-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include for-size(desktop) {
    padding-top: 96.5px;
    padding-bottom: 130px;
  }
}

.advantages__items {
  // padding-left: 35px; //компенсуємо половину ширини псевдоелементу 61 і відступ 10
  padding-left: 80px;
  max-width: 100%;

  @include for-size(min-tablet) {
    display: flex;
    max-width: 100%;
    padding-left: 0;
    // @include placeItemsGrid(95px);
    margin-top: calc(-1 * 95px);
    margin-left: calc(-1 * 95px);
    margin-left: 0;
  }

  @include for-size(desktop) {
    display: flex;
    max-width: 100%;
    padding: 0;
    // @include placeItemsGrid(82px);
    margin-top: calc(-1 * 82px);
    margin-left: calc(-1 * 82px);
    margin-left: 0;
  }
}

.advantages__item {
  @include for-size(min-tablet) {
    //   @include buildGrid(3, 95px);
    // flex-basis: calc(100% / 3 - 95px);
    margin-top: 95px;
    margin-left: 95px;
  }

  @include for-size(desktop) {
    //   @include buildGrid(3, 82px);
    margin-top: 82px;
    margin-left: 82px;
  }

  @include for-size(max-mobile) {
    // margin-left: 70px;
    width: 146px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.advantages__item-desc {
  position: relative;
  margin: 0 auto;
  // width: 146px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;

  @include for-size(desktop) {
    margin: 0;
    // max-width: 366px;
    z-index: 4;
    font-size: 20px;
    line-height: 164.9%;
  }

  color: $main-black;
}

@each $advantage in rectangle_female_student, rectangle_mobile_learning, rectangle__insurance {
  .icon--#{$advantage} {
    // margin-bottom: 30px;

    &::before {
      content: '';
      position: absolute;
      left: -71px;
      top: 50%;
      display: block;
      height: 63px;
      width: 61px;
      transform: translateY(-50%);
      background-image: url('../images/advantages-icon/#{$advantage}.svg');

      @include for-size(min-tablet) {
        left: -78px;
      }

      @include for-size(desktop) {
        left: -80px;
        height: 105px;
        width: 102px;
        background-repeat: no-repeat;
        background-image: url('../images/advantages-icon/#{$advantage}_100.svg');
      }
      background-repeat: no-repeat;
    }
  }
}

.advantages__icon--female_student,
.advantages__icon--mobile_learning,
.advantages__icon--insurance {
  fill: $main-orange;
}
