.benefits {
  //max-width: 480px;
  margin: 0 auto;
  position: relative;
  top: -1px;
  padding-bottom: 39px;
  // z-index: -3;
  background: linear-gradient(
    to bottom,
    $main-black 0%,
    $main-black 63%,
    $full-white 63%,
    $full-white 100%
  );
  @include for-size(min-tablet) {
    padding-bottom: 50px;
    background: linear-gradient(
      to bottom,
      $main-black 0%,
      $main-black 38%,
      $full-white 38%,
      $full-white 100%
    );
  }
  @include for-size(desktop) {
    //padding-top: 100px;
    padding-bottom: 130px;

    background: linear-gradient(
      to bottom,
      $main-black 0%,
      $main-black 40%,
      $full-white 40%,
      $full-white 100%
    );
  }
}

.benefits__header {
  width: 50%;
  color: $full-white;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  @include for-size(min-tablet) {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  @include for-size(desktop) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
