.footer {
  // width: 100%;
  padding-top: 30px;

  @include for-size(min-tablet) {
    padding-top: 40px;
  }

  @include for-size(desktop) {
    padding-top: 55px;
  }

  &__container {
    margin: 0 auto;
    padding-bottom: 30px;

    @include for-size(min-tablet) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 40px;
    }

    @include for-size(desktop) {
      position: relative;
      padding-bottom: 55px;
    }
  }

  &--copyright {
    padding: 21px 0;
    background-color: $main-black;
  }
}

.footer__logo {
  margin: 0 auto;

  @include for-size(max-mobile) {
    margin-bottom: 20px;
  }

  @include for-size(min-tablet) {
    margin: 0;
  }
}

.footer__items {
  @include for-size(min-tablet) {
    display: inline-block;
  }

  @include for-size(desktop) {
    display: block;
    margin: 0 auto;
  }
}

.footer__item {
  &:not(:last-child) {
    @include for-size(max-mobile) {
      margin-bottom: 30px;
    }
  }

  @include for-size(min-tablet) {
    display: inline-block;
    vertical-align: middle;
  }
}

.footer__link {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;

  &--insta {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../images/instagram.svg);

    @include for-size(min-tablet) {
      position: relative;
    }

    &::before {
      @include for-size(min-tablet) {
        content: '';
        position: absolute;
        bottom: 0;
        left: -25px;
        width: 1px;
        height: 100%;
        background: $main-grey;
        transform: rotate(0deg);
      }
    }
  }

  &--tel {
    display: flex;
    vertical-align: baseline;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
    color: $main-black;

    @include for-size(min-tablet) {
      margin-right: 48px;
      font-size: 20px;
      line-height: 1.2;
    }

    @include for-size(desktop) {
      font-size: 30px;
      line-height: 1.23;
    }
  }
}

.footer__icon {
  margin-right: 10px;

  @include for-size(min-tablet) {
    width: 24px;
    height: 23.06px;
  }

  @include for-size(desktop) {
    margin-right: 15px;
    width: 30px;
    height: 28.82px;
  }
}

.footer__copyright-text {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  @include for-size(min-tablet) {
    text-align: left;
  }

  color: $main-grey;
}
