.page-header {
  padding-top: 30.5px;

  @include for-size(min-tablet) {
    padding-top: 40px;
  }

  @include for-size(desktop) {
    padding-top: 27px;
  }
}

.page-header__container {
  display: flex;
  align-items: center;

  @include for-size(min-tablet) {
    justify-content: flex-end;
  }

  @include for-size(desktop) {
    justify-content: space-between;
  }
}

.page-header__container > .logo {
  @include for-size(max-tablet) {
    transform: scale(0.63);
    margin-left: -22px;
  }

  @include for-size(desktop) {
    margin: 0px;
  }

  &:hover,
  &:focus {
    @include for-size(max-tablet) {
      transform: scale(0.7);
    }
  }
}

.navigation-list {
  display: none;

  @include for-size(desktop) {
    display: flex;

    &__item {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;

      color: $main-grey;

      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    &__link:hover,
    &__link:focus {
      color: $main-orange;
    }
  }
}

.call {
  display: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $main-orange;
  border: 2px solid $main-orange;

  justify-content: center;
  align-items: center;
  width: 256px;
  height: 44px;

  @include for-size(min-tablet) {
    display: flex;

    margin-right: 40px;
    margin-left: auto;
  }

  @include for-size(desktop) {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;

    margin: 0px;
    width: 336px;
    height: 70px;
  }

  &:hover,
  &:focus {
    border: 3px solid $main-orange;
    outline: none;
  }
}

.menu-toggle {
  display: block;
  margin-left: auto;
  align-items: center;
  background-color: inherit;
  fill: inherit;

  @include for-size(min-tablet) {
    margin-left: 0px;
  }

  @include for-size(desktop) {
    display: none;
  }
}

.menu-toggle:focus,
.menu-toggle:hover {
  fill: $main-orange;
  outline: none;

  @include transition(fill);
}
