.hero {
  width: 100%;
  height: 550px;
  padding-top: 50.47px;
  padding-bottom: 47px;
  box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  background-image: url(../images/vector.jpg);
  background-size: 100% 100%;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/vectorx2.jpg);
  }

  @include for-size(min-tablet) {
    background-image: url(../images/tablethero.png), url(../images/tabletvector.jpg);
    background-size: 375.75px, cover;
    background-repeat: no-repeat;
    background-position: center right 18.25px, center;
    height: 100%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/tabletherox2.png), url(../images/tabletvectorx2.jpg);
    }
  }

  @include for-size(desktop) {
    padding-top: 138px;
    padding-bottom: 144.5px;
    background-image: url(../images/desctophero.png), url(../images/desctopvector.jpg);
    background-size: 841px, cover;
    background-repeat: no-repeat;
    background-position: center right 45px, center;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/desctopherox2.png), url(../images/desctopvectorx2.jpg);
    }
  }
}

.hero__name {
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;

  @include for-size(min-tablet) {
    font-size: 26px;
  }

  @include for-size(desktop) {
    margin-bottom: 24px;
    font-size: 58px;
    line-height: 1.293;
  }
}

.hero__container--small {
  @include for-size(min-tablet) {
    max-width: 280px;
    text-align: left;
  }

  @include for-size(desktop) {
    max-width: 642px;
  }
}

.hero__description {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;

  @include for-size(desktop) {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 40px;
  }
}

.hero__description--gray {
  color: $main-grey;
}

.hero__description--bolt {
  font-weight: 700;
}

.hero__description--orange {
  font-weight: 700;
  color: $main-orange;
}

.hero__container {
  text-align: center;
  margin-bottom: 30px;

  @include for-size(min-tablet) {
    text-align: left;
  }
}

.hero__btn {
  display: inline-block;  
  background-color: $main-orange;
  padding: 14px 10px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: $full-white;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  @include for-size(min-tablet) {
    margin-bottom: 0;
  }

  @include for-size(desktop) {
    font-size: 14px;
    line-height: 1.214;
    padding: 27px 25px;
  }
}

.hero__img {
  margin-left: auto;
  margin-right: auto;

  @include for-size(min-tablet) {
    display: none;
  }
}

.hero__br {
  @include for-size(desktop) {
    display: none;
  }
}

.hero-img__container {
  width: 100%;
  position: relative;
  animation: mymove 3s;

  @keyframes mymove {
    from {
      left: -500px;
    }
    to {
      left: 0px;
    }
  }
}
