.feature {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;

  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $main-black;

    @include for-size(desktop) {
      margin-bottom: 50px;
      font-size: 46px;
      text-align: start;
    }
  }
}

.feature-list {
  @include for-size(min-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -27px;
    margin-left: -20px;
  }

  @include for-size(desktop) {
    margin-bottom: 130px;
    margin-top: -20px;
    margin-left: -20px;
  }

  &__item {
    display: inline-block;
    margin-bottom: 15px;

    @include for-size(max-mobile) {
      max-width: 280px;
    }

    @include for-size(min-tablet) {
      margin-bottom: 0;
      margin-top: 27px;
      margin-left: 20px;
      display: flex;
      flex-basis: calc(100% / 2 - 20px);
    }

    @include for-size(desktop) {
      margin-top: 20px;
      margin-left: 20px;
      flex-basis: calc(100% / 3 - 20px);
    }
  }

  &__link {
    box-shadow: $box-shadow-cards;
    background-color: $full-white;
    display: flex;
    padding: 30px 10px 25px;
    height: 280px;

    @include transition(background-color);

    @include for-size(min-tablet) {
      height: 334px;
      padding: 40px 20px 50px;
    }

    @include for-size(desktop) {
      padding: 40px 30px 55px;
      height: 396px;
    }

    &:focus,
    &:hover {
      background-color: $main-orange;
    }
  }

  &__link:hover &__title,
  &__link:hover &__text,
  &__link:focus &__text,
  &__link:focus &__title {
    color: $full-white;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $full-white;
  }

  &__box {
    text-align: center;
  }

  &__icon {
    fill: $main-orange;
  }

  &__title {
    position: relative;
    text-align: center;
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.428;
    letter-spacing: 0.08em;
    color: $main-black;
    margin-bottom: 16px;

    @include for-size(min-tablet) {
      padding-bottom: 26px;
      margin-bottom: 26px;
    }

    @include for-size(desktop) {
      font-size: 20px;
    }
  }

  &__title::after {
    position: absolute;
    content: ' ';
    display: block;
    text-align: center;
    width: 20px;
    height: 2px;
    background-color: $main-orange;
    margin-top: 26px;
    right: 50%;
    transform: translate(10px);
  }

  &__link:focus &__title::after,
  &__link:hover &__title::after {
    background-color: $full-white;
  }

  &__text {
    font-size: 12px;
    line-height: 1.666;
    text-align: center;
    letter-spacing: 0.08em;
    color: $main-grey;

    @include for-size(desktop) {
      font-size: 18px;
      line-height: 1.555;
    }
  }

  &__icon {
    margin-bottom: 20px;

    @include for-size(min-tablet) {
      margin-bottom: 30px;
    }
  }
}
