.problems {
  position: relative;

  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  background: linear-gradient(
    to bottom,
    $main-black 0%,
    $main-black 78%,
    $full-white 78%,
    $full-white 100%
  );

  @include for-size(min-tablet) {
    background: linear-gradient(
      to bottom,
      $main-black 0%,
      $main-black 70%,
      $full-white 70%,
      $full-white 100%
    );
  }

  @include for-size(desktop) {
    padding-top: 100px;
    padding-bottom: 130px;

    background: linear-gradient(
      to bottom,
      $main-black 0%,
      $main-black 65%,
      $full-white 65%,
      $full-white 100%
    );
    z-index: -2;
    &::before {
      content: '';
      position: absolute;
      width: 455px;
      height: 472px;
      bottom: 35%;
      right: -50px;
      background: url('./../images/problems/fire.svg') no-repeat;
      z-index: -1;
    }
  }
}

.problems__header {
  color: $full-white;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  margin-bottom: 27px;
  letter-spacing: 0.03em;

  @include for-size(min-tablet) {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 25px;
  }
  @include for-size(desktop) {
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 70px;
  }
}
.problems__accent {
  color: $main-orange;
}

.problems__hyphenation {
  display: block;
}

.problems__hyphenation--tablet-up {
  @include for-size(min-tablet) {
    display: inline;
  }
}
