.program {
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  background-color: $main-black;
  padding-top: 50px;

  @include for-size(min-tablet) {
    max-width: 768px;
    padding-bottom: 150px;
    padding-top: 120px;
  }

  @include for-size(desktop) {
    max-width: 1680px;
    padding-top: 120px;
  }
}

.program--container {
  max-width: 1314px;

  @media screen and (max-width: $desktop-screen - 1) {
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    opacity: 0.5;
    z-index: 1;
    @media screen and (max-width: $min-mobile-screen - 1) {
      bottom: -50px;
      left: 180px;
      width: 140px;
      max-width: 215px;
      height: 137px;
      background-image: url('./../images/program/mobile-main.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      @media ($min-pixel-ratio),
        (min-resolution: $min-resolution-dpi),
        (min-resolution: $min-resolution-dppx) {
        background-image: url('./../images/program/mobile-main@2x.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    @media screen and (min-width: $min-mobile-screen) and (max-width: $min-tablet-screen) {
      bottom: -50px;
      left: 218px;
      width: 215px;
      height: 137px;
      background-image: url('./../images/program/mobile-main.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      @media ($min-pixel-ratio),
        (min-resolution: $min-resolution-dpi),
        (min-resolution: $min-resolution-dppx) {
        background-image: url('./../images/program/mobile-main@2x.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    @include for-size(min-tablet) {
      bottom: -100px;
      right: 0;
      width: 384px;
      height: 280px;
      background-image: url('./../images/program/tablet-main.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @media ($min-pixel-ratio),
        (min-resolution: $min-resolution-dpi),
        (min-resolution: $min-resolution-dppx) {
        background-image: url('./../images/program/tablet-main@2x.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    @include for-size(desktop) {
      bottom: -140px;
      left: 0px;
      width: 40.11vw; // 674px;
      max-width: 674px;
      height: 100%;
      max-height: 502px;
      background-image: url('./../images/program/desktop-main.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      @media ($min-pixel-ratio),
        (min-resolution: $min-resolution-dpi),
        (min-resolution: $min-resolution-dppx) {
        background-image: url('./../images/program/desktop-main@2x.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.program__header {
  color: $full-white;
  text-align: center;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 43px;

  @include for-size(min-tablet) {
    text-align: left;
    font-size: 26px;
    margin-bottom: 60px;
  }
  @include for-size(desktop) {
    font-size: 46px;
    margin-bottom: 100px;
  }
}
// * {
//   outline: 1px solid greenyellow;
// }

.semester-list {
  counter-reset: cnt;

  color: $full-white;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  padding-left: 80px;

  @include for-size(min-tablet) {
    padding-left: 90px;
  }
  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-top: 60px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 277px;
      width: 100vw;
      height: 1px;
      //background-color: $full-white;
      border-top: 1px solid $full-white;
    }
  }
}
.semester-list__item {
  position: relative;

  @include for-size(max-tablet) {
    padding-bottom: 40px;
    &:not(:last-child)::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;

      top: 6px;
      left: -26px;
      border-left: 1px solid $full-white;
    }

    &::after {
      content: '';
      @include for-size(max-tablet) {
        display: flex;
        position: absolute;
        top: 6px;
        left: -26px - 6px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $main-orange;
        z-index: 1;
      }
      @include for-size(min-tablet) {
        margin-right: 50px;
      }
    }
  }

  @include for-size(desktop) {
    flex-basis: calc(100% / 5);

    &::before {
      content: '';
      position: absolute;
      top: -60px - 9px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $main-orange;
    }
  }
}

.semester-list__header {
  display: list-item;
  counter-increment: cnt;
  &::marker {
    content: counter(cnt) ' ';
    @include for-size(desktop) {
      font-size: 30px;
    }
  }
  margin-left: 14px;
  letter-spacing: 0.08em;
  line-height: 173%;
  margin-bottom: 5px;

  @include for-size(desktop) {
    font-size: 20px;
    line-height: 95%;
    margin-bottom: 25px;
    margin-left: 27px;
  }
}

.theme-list {
  color: $main-orange;
  font-size: 12px;
  //margin-left: 25px;
  line-height: 257%;
  letter-spacing: 0.08em;

  @include for-size(min-tablet) {
    display: flex;
  }

  @include for-size(desktop) {
    display: block;
    font-size: 20px;
    line-height: 1.35;
  }
  @media screen and (min-width: $desktop-screen) and (max-width: 1556px) {
    display: block;
    font-size: 1.19vw;
  }

  @media screen and (min-width: 1556px) {
    display: block;
    font-size: 20px;
  }
}
.theme-list__header {
  &::before {
    content: '—' ' ';
  }
  @include for-size(desktop) {
    line-height: 1.65;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.theme-list__item {
  @include for-size(min-tablet) {
    &:first-child {
      flex-basis: 176px;
    }

    &:nth-child(2) {
      flex-basis: 155px;
    }

    &:last-child {
      flex-basis: 110px;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @include for-size(desktop) {
    margin-bottom: 25px;
  }
}

.lessons-list {
  color: $main-grey;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 8px;
  line-height: 1.666;
  letter-spacing: 00.08em;

  @include for-size(desktop) {
    font-size: 18px;
    line-height: 1.555;
  }
}
