.reviews {
  min-width: 320px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $full-white;
}

.reviews__title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
}

.reviews__container {
  min-width: 280px;
  max-width: 1090px;
  padding: 20px 30px;
  margin: 0 auto;
  background: $full-white;
  border-style: hidden;
  border-width: 1px;
  overflow: hidden;
  box-shadow: $box-shadow;
}

.reviews__thumb {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

@each $pic in pic_reviews_1, pic_reviews_2, pic_reviews_3, pic_reviews_4, pic_reviews_5,
  pic_reviews_6, pic_reviews_7
{
  .reviews__thumb--#{$pic} {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/reviews/#{$pic}.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .reviews__thumb--#{$pic} {
        background-image: url('../images/reviews/#{$pic}@2x.png');
      }
    }
  }
}

.reviews__social-link {
  display: block;
  width: 30px;
  height: 16.98px;
  margin: 26.51px auto;
}

.reviews__user-name {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;
  color: $main-orange;
}

.reviews__user-details {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: $main-grey;
}

.reviews__text-block {
  max-height: 257px;
  overflow: hidden;
}

.reviews__user-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: $secondary-black-color;
}

.reviews__link-more {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: $main-orange;
}
