.reviews {
  min-width: 320px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $full-white;

  @include for-size(desktop){
    padding-top: 130px;
    padding-bottom: 130px;
    font-size: 26px;
  }
}

.reviews__title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;

  @include for-size(min-tablet){
    margin-bottom: 30px;
    font-size: 26px;
  }
}

.reviews__container {
  position: relative;
  min-width: 280px;
  max-width: 1090px;
  padding: 20px 30px;
  margin: 0 auto;
  background: $full-white;
  border-style: hidden;
  border-width: 1px;
  // overflow: hidden;
  box-shadow: $box-shadow;

  @include for-size(min-tablet){
    padding: 40px;
  }
}

.reviews__review--content{
  margin-bottom: 20px;
}

.reviews__review--item{
  display: flex;
  flex-direction: column;

  @include for-size(min-tablet){
    flex-direction: row;
  }
}

.review__media--item{
  display: flex;
  flex-direction: column;
  margin-bottom: 26.5px;

  @include for-size(min-tablet){
    margin-right: 46px;
  }
}

.reviews__content-img{
  display: block;
  margin: 0 auto;
  height: 90px;
  max-width: 90px;
  margin-bottom: 26px;  

  @include for-size(min-tablet){
    height: 150px;
    max-width: 150px;
  }
}

@each $pic in pic_reviews_1, pic_reviews_2, pic_reviews_3, pic_reviews_4, pic_reviews_5,
  pic_reviews_6, pic_reviews_7
{
  .reviews__thumb--#{$pic} {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/reviews/#{$pic}.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .reviews__thumb--#{$pic} {
        background-image: url('../images/reviews/#{$pic}@2x.png');
      }
    }
  }
}

.reviews__social-link {
  display: block;
  margin: 0 auto;
}

.review__text--item{
  display: flex;
  flex-direction: column;
}

.reviews__user-name {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;
  color: $main-orange;

  @include for-size(min-tablet){
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
  }
}

.reviews__user-details {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: $main-grey;

  @include for-size(min-tablet){
    text-align: left;
    margin-bottom: 20px;
  }
}

.reviews__text-block {
  display: flex;
  flex-direction: column;
}

.reviews__user-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: $secondary-black-color;

  @include for-size(min-tablet){
    text-align: left;
  }
}

.reviews__user-text--hidden{
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: $secondary-black-color;

  @include for-size(min-tablet){
    text-align: left;
  }
}

.reviews__link-more{
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: $main-orange;
  border: none;
  outline: none;
}

.reviews__review--nav{
  max-width: 182px;
  margin: 0 auto;
  min-width: 0;

  @include for-size(min-tablet){
    max-width: 558px;
  }

  &::before {
    content: attr(data-before);    
    position: absolute;
    width: 35px;
    height: 20px;
    top: 17px;
    left: -62px;
    background: url('./../images/arrow-prev.svg') no-repeat;
    z-index: 1001;
    pointer-events: auto;

    @include for-size(min-tablet){
      display: none;
      top: -175px;
      left: -78px;
    }
  }

  &::after {
      content: attr(data-after);
      position: absolute;
      width: 35px;
      height: 20px;
      top: 17px;
      left: 215px;
      background: url('./../images/arrow-next.svg') no-repeat;
      z-index: 1001;
      pointer-events: auto;

      @include for-size(min-tablet){
        display: none;
        top: -175px;
        left: 600px;
      }
    }    
}

.reviews__review--element{
  height: 54px;
  width: 54px;
  margin-right: 10px;
}

.reviews__nav-img{
  display: block;
  border-radius: 90%;
  margin: 0 auto;
  height: 54px;
  max-width: 54px;
  margin-bottom: 26px;

  &:hover,
  &:focus{
    border: 2px solid $main-orange;  
    cursor: pointer;  
  }
}

.reviews__thumb {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

@each $pic in pic_reviews_1, pic_reviews_2, pic_reviews_3, pic_reviews_4, pic_reviews_5,
  pic_reviews_6, pic_reviews_7
{
  .reviews__thumb--#{$pic} {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/reviews/#{$pic}.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .reviews__thumb--#{$pic} {
        background-image: url('../images/reviews/#{$pic}@2x.png');
      }
    }    
  }
}


